/*******************************************************************************
 * GLOBALNI STYLOVANI
 ******************************************************************************/

html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #efefef;
    overflow: hidden;
}

div {
    position: relative;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#container thead td {
    height: 100px;
}

#container tbody td {
    height: available;
}

#container tbody td:first-of-type {
    width: 200px;
}

#container tbody td:last-of-type {
    width: available;
}

#container tfoot td {
    height: 50px;
}

#container td {
/*    display: inline-block;*/
}

#container td > div {
    width: 100%;
    height: 100%;
}

/*******************************************************************************
 * JEDNOTLIVE FRAMY
 ******************************************************************************/

#header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 2;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 400%;
}

#menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 100%;
    padding: 100px 0px 50px 20px;
    z-index: 1;
}

#footer {
    position: absolute;
    height: 30px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    z-index: 2;
}

#content-wrapper {
    position: absolute;
    left: 200px;
    top: 100px;
    bottom: 30px;
    right: 1px; /* kvuli ramecku */
    z-index: 0;
}

#content-padder {
    border: solid #000000 1px;
    border-right: none;
    overflow: auto;
    width:  100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

#content {
    padding: 20px;
}