/*
 * V IE nešlo naformátovat obsah jinak než podle rámečku, proto se přepisuje
 * původní styl.
 */
#content-wrapper {
    left: 0px;
    top: 0px;
    bottom: auto;
    right: auto;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: transparent;
    border-width: 100px 0px 50px 200px;
}