<%
# vyzaduje mit nastavene @comments. Pokud ano, vypise komentare.
%>
<div>
  <dl class="spacer">
    <% @comments.each do |comment| %>
      <dt>
        <i class="icon-user"></i>
        <td>
          <%= comment.user.username %>
        </td>
        psal v
        <%= comment.created_at %>
        <button class="close" </button>
        <%= form_for(comment, method: :delete) do |f| %>
          <% content_tag(:button, :type => :submit, :class => "close") do %>
             ×
          <% end %>
        <% end %>
      </dt><!--pro odstraneni komentáru-->
      <dd>
        <div class="well dark">
          <td><%= comment.content %></td>
        </div>
      </dd>
    <% end %>
  </dl>
</div>