<div class="span8 offset2 well">
  <h2>Moje recepty</h2>
  <div class="row-fluid spacer">
    <div class="span5">
      <legend>Napsané články</legend>
      <ul class="unstyled">
        <% @articles.each do |article| %>
          <li><%= link_to article.title, article_path(article) %> - <%= article.created_at  %></li>
        <% end %>
      </ul>
      <a class="btn spacer" href="<%= new_article_path %> "><i class="icon-pencil"></i> Napsat nový článek</a>
    </div>

    <div class="span6 pull-right">
      <legend>Komentované články</legend>
      <ul class="unstyled">
        <% for commented in @commented %>
          <li>
            <%= link_to commented.title, commented %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>