<%= form_tag password_resets_path, :method => :post do %>
  <div class="span8 offset2 well">
    <b>E-mail:</b>
    <%= text_field_tag :email %>
    <%= submit_tag "Resetovat heslo!" %>
  </div>
<% end %>