<div id="lednicka" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Lednička</h3>
  </div>
  
  <div class="modal-body">
    <p>Přidejte suroviny, co máte doma, a my za Vás vyhledáme recept.</p>
    <div class="input-append">
      <input class="span2" id="fridge_search" type="text" />
      <button id="fridge_button-search" class="btn" type="button" onclick="Fridge.filterIngrediences()">Vyfiltrovat ingredience</button>
    </div>
    <p></p>
    <div class="row-fluid">
      <div class="span5">
        <h5>Seznam ingrediencí</h5>
        <select id="fridge_list" multiple="multiple" style="height: 100px;">
          <% Ingredience.all.each do |ingredience| %>
            <option value="<%= ingredience.id.to_s %>"><%= ingredience.name %></option>
          <% end %>
        </select>
        <button class="btn" id="fridge_button-add" type="button" onclick="Fridge.addSelected()">Přidat ingredience</button>
      </div>
      <div class="span5 offset1">
        <h5>Co máte doma</h5>
        <select id="fridge_selected" multiple="multiple" style="height: 100px;">

        </select>
        <button class="btn" id="fridge_button-remove" type="button" onclick="Fridge.removeSelected()">Odebrat ingredience</button>
      </div>
    </div>
    <hr />
    <form action="/fridge" method="get" onsubmit="return Fridge.validate()">
      <div id="fridge_hidden" class="hidden"></div>
      <button id="fridge_button-submit" class="btn">Vyhledat recept</button>
    </form>
  </div>
</div>