<div id="demoLightbox" class="lightbox hide fade">
  <div class='lightbox-header'>
    <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">Vyhledávání ingredience</button>
  </div>
  <div class='lightbox-content'>
    <div>
      <div>
        <% for item in Ingredience.all %>
          <%= item.name %>
        <% end %>
      </div>
    </div>
  </div>
</div>