<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Titulek</th>
    <th>Anotace</th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= recipe.annotation %></td>
  </tr>
<% end %>
</table>