<div class="span10 offset1">
  <% if @recipes != nil %>
    <% @recipes.each do |recipe| %>
      <div class="well">
        <h2><%= recipe.name %></h2>
        <p><%= recipe.annotation %></p>
        <p>Přidáno: <%= recipe.created_at %></p>
        <%= link_to "Dále >>", recipe_path(recipe.id) %>
      </div>
    <% end %>
  <% end %>
</div>