<div class="span3">
  <div class="well">
    <div>
      <legend>Lednička</legend>
      <input type="text" placeholder="Ingredience" />
      <button type="submit" class="btn">Přidat ingredience</button>
    </div>
    <form id="lednicka" action="">
      <span class="label">musime</span>
      <span class="label">asi</span>
      <span class="label">napsat</span>
      <span class="label">javascript</span>
      <span class="label">aby se dalo</span>
      <span class="label">pridat</span>
      <span class="label">ingredience</span>
      <p></p>
      <legend></legend>
      <button type="submit" class="btn">Vyhledat recept</button>
    </form>
  </div>
</div>