<%#*Přihlášen:%>
<%#= link_to current_user.username.to_s,  user_path(current_user) %>
<%#*<br />%>
<li style="margin-right: 50px;">
    <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Uživatel <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><%= link_to "Moje údaje",  user_path(current_user) %></li>
        <li><a href="#">Moje recepty</a></li>
        <li><a href="#">Moje články</a></li>
        <li><a href="/user_sessions/destroy">Odhlášení</a></li>
    </ul>
</li>
<li><%= link_to "Home", "/" %></li>
<li><%= link_to "Nejnovější recepty", "recipe" %></li>
<li><%= link_to "Help", "help/index" %></li>
<li><a href="#">Help</a></li>